<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="alert">
        <p>Alert field</p>
        <a id="alert-close" onclick="alertClose()">X</a>
    </div>

    <a id="modal-open" onclick="modal()">Click here</a>

    <div id="modal">
        <h1>My modal</h1>
        <p>Modal description</p>
        <a id="modal-close" onclick="modalClose()">X</a>
    </div>

    <script src="scripts/alert.js"></script>
    <script src="scripts/modal.js"></script>
</body>
</html>